.layout-container{
    width:100%;
}
main{
    width: 75%;
    float:left;

}
aside{
    width: 15%;
    float: left;
    background-color: #666666;
}
.layout-container::after{
    clear: both;
}
body
{
 background-color: #ffffff;   
}
pre{
    color:rgb(96, 94, 197);
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
name
{
    color: rgb(54, 42, 163);
    font-size: 30;
    font-weight: 100;
}
#corner
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 125px;
    height: 125px;
    color: rgb(154, 153, 219);
}
#sidebar
{
    position: absolute;
    left: -10px;
    top: -10px;
    width: 125px;
    height: 105%;
    background:  rgb(43, 41, 165);
} 



