body{
    background:linear-gradient(180deg,rgba(0, 0, 0, 0.521),rgb(255, 30, 0) 40%),radial-gradient(ellipse at left bottom,rgba(0, 0, 0, 0.753),rgba(0,0,0,0) );

}
#container {
    margin-top: 100px;
    background-color: transparent;    
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    aspect-ratio: 0.45;
    z-index: 2;
    resize: none;
    max-height: 777px;

}
#insertList{
    background-color: rgb(71, 27, 27);
    position: relative;
    width: auto;
    height: 80%;
    top: 0%;
    z-index: 0;
    
}
#X{
    position: relative;
    top: 90%;
    z-index: 1;
    width: 17%;
    left: 65%;
}
#check{
    position: relative;
    top: 90%;
    z-index: 1;
    width: 17%;
}
#done{
    position: relative;
    top: 91%;
    height: 1%;
}
#itemSearch{
    position: relative;
    top: 0%;
    z-index: 1;
    width: 100%;
    background-color: rgb(48, 19, 19);
    color: aliceblue;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    color: aliceblue;
}

#Trash{
    z-index: 1;
    position: relative;
    top: 93%;
    left: 5%;
    width: 15%;
}
#HomeButton{
    z-index: 1;
    position: relative;
    top: 93%;
    left: 26%;
    width: 15%;
}
#Plus{
    z-index: 1;
    position: relative;
    top: 93%;
    left: 47%;
    width: 15%;
}
#MyPlan{
    position: relative;
    left: 5%;
    top: -3%;
    width: 15%;
}
#MyRecipies{
    position: relative;
    left: 25%;
    top: -3%;
    width: 24%;

}
#Browse{
    position: relative;
    left: 40%;
    top: -6.5%;
    width: 15%;


}
#images{
    position: relative;
    width: 100%;
    height: 90%;
    top: -5%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90%;    
}
#images::-webkit-scrollbar
{
    display: none;
    max-height: 100px;
}
#footerBar{
    position: relative;
    top: 95%;
    background-color: rgb(255, 30, 0);
    z-index: 10;
}
#selectBar{
    position: relative;
    top: -6%;
}
#sel{
    position: relative;
    top: 2%;
}
#rRecipy{
    position: relative;
    width: 98%;
    height: 25%;
    top: 10%;
    background-color: antiquewhite;
    font-family:'Times New Roman', Times, serif;
}
.imgRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.imgCol{
    flex: 50%;
    padding: 0 px;
}
.imgCol img{
    margin-top: 8px;
    vertical-align: middle;
    width: 40%;
}


.Recipies{
    display: block;
}
.RecipyInsert{
    display: none;
}
.Home{
    display: none;
}
.Browse{
    display: none;
}